html,
body,
p {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 14px;
}

button {
  cursor: pointer;
}

.hidden {
  display: none;
}

.wrapper {
  padding: 5px;
}

.modalArea {
  text-align: center;
  background: rgba(0, 0, 0, 0.25);
  width: 100%;
  height: 100vh;
  padding: 5px;
  position: fixed;
  top: 0;
  z-index: 1;
}

.loadingMsg {
  background: red;
  color: #fff;
}

.confirmMsg {
  background-color: rgb(197, 221, 253);
  padding: 5px;
}

.hidden .confirmMsg {
  background-color: inherit;
}

.overWriteTxtBlock>div {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 5px;
}

.overWriteTxtBlock dd {
  margin: 0;
}

.textBoxArea {
  display: flex;
  align-items: end;
  padding: 5px;
}

.textBoxArea>p {
  font-size: 12px;
  margin: 0 5px;
}

.textBoxArea.err {
  background-color: red;
}

#textBox:focus,
.overWriteTxtBlock.isSelect,
.rateBtn.isSelect {
  background-color: #cae6f7;
}

.overWriteTxtBlock.isSelect .overWriteBtn {
  pointer-events: none;
  opacity: .5;
}